* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

body {
    width: 100%;
}

img {
    width: 100%;
}


header {
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: bolder;
    background-color: darkolivegreen;
    width: 100%;
    gap: 10%;
    box-sizing: content-box;
}

h1,h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: seagreen;
    width: 100%;
    
   
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background-color: slategray;
    

}

.container {
    width: 95%;
}

.flexContainer {
    display:flex;
    flex-wrap: wrap;
    width:95%;
    gap: 10%;
    box-sizing: content-box;
    justify-content: center;
    box-sizing: content-box;
    padding: 20px;
    
           
}

nav {
    margin-top: 10%;
    margin-bottom: 10%;
   
}

ul {
    display:flex;
    flex-wrap: wrap;
    
}

li {
    display:inline-flex;
    flex-direction: row;
    background-color: darkslategrey;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 20px;
    justify-content: center;
    
}


/* ===============================
            768px
=================================== */

@media screen and (min-width:768px) {
    
    .flexContainer>* {
        width: calc(45% - 20px);
    }
}

/* 768px */

/* ===============================
            992px
=================================== */

@media screen and (min-width:992px) {
   
    .flexContainer>* {
        width: calc(50% - 20px);
    }
}

/* 992px */

/*===============================
            1200px
=================================== */

@media screen and (min-width:1200px) {
    .container {
        max-width: 1300px;
    }
}

/* 1200px */